In [3]:
import pandas as pd

## 1.
Import the file `US_COVID-19_by_State_over_Time.csv` as a dataframe named `covid`. Display the first 8 rows.

In [4]:
import pandas as pd

covid = pd.read_csv('US_COVID-19_by_State_over_Time.csv')

covid.head(8)

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,03/11/2021,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN
1,12/01/2021,ND,163565,135705.0,27860.0,589,220.0,1907,NaN,NaN,9,0.0,12/02/2021 02:35:20 PM,Agree,Not agree
2,01/02/2022,AS,11,NaN,NaN,0,0.0,0,NaN,NaN,0,0.0,01/03/2022 03:18:16 PM,NaN,NaN
3,11/22/2021,AL,841461,620483.0,220978.0,703,357.0,16377,12727.0,3650.0,7,3.0,11/22/2021 12:00:00 AM,Agree,Agree
4,05/30/2022,AK,251425,NaN,NaN,0,0.0,1252,NaN,NaN,0,0.0,05/31/2022 01:20:20 PM,NaN,NaN
5,05/17/2020,RMI,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,05/18/2020 04:01:54 PM,Agree,Agree
6,04/03/2020,ND,173,NaN,NaN,14,NaN,3,NaN,NaN,0,NaN,04/03/2020 04:22:39 PM,Agree,Not agree
7,09/04/2021,PR,173967,144788.0,29179.0,667,274.0,2911,2482.0,429.0,8,3.0,09/04/2021 12:00:00 AM,Agree,Agree

## 2.
Determine how many different states/regions are represented in the data.

In [5]:
num_states = None

num_states = covid['state'].nunique()

print(f"There are {num_states} unique states.")

There are 60 unique states.

In [6]:
# TESTS
assert type(num_states) == int
assert num_states > 50

In [ ]:
# Intentionally blank--do not delete

## 3.
As you can see in the columns *conf_cases* and *prob_cases*, some of the reports do not include separate values for confirmed and probable cases and deaths. Remove all such rows from `covid`.

In [13]:
covid_cleaned = covid.dropna(subset=['conf_cases', 'prob_cases'], how='any')
print(f"Cleaned length: {len(covid_cleaned)}")
covid = covid_cleaned
covid.head()

Cleaned length: 33962

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,03/11/2021,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN
1,12/01/2021,ND,163565,135705.0,27860.0,589,220.0,1907,NaN,NaN,9,0.0,12/02/2021 02:35:20 PM,Agree,Not agree
3,11/22/2021,AL,841461,620483.0,220978.0,703,357.0,16377,12727.0,3650.0,7,3.0,11/22/2021 12:00:00 AM,Agree,Agree
5,05/17/2020,RMI,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,05/18/2020 04:01:54 PM,Agree,Agree
7,09/04/2021,PR,173967,144788.0,29179.0,667,274.0,2911,2482.0,429.0,8,3.0,09/04/2021 12:00:00 AM,Agree,Agree

In [15]:
# TESTS
assert len(covid) == 27977
assert covid["new_case"].sum() == 48938680
print("OK")

AssertionError:

## 4.
Create a frame called `ratings` by loading the file `corporate_rating.csv`. Display the first 5 rows.

In [16]:
ratings = None

ratings = pd.read_csv('corporate_rating.csv')

ratings.head()

,Rating,Name,Symbol,Rating Agency Name,Date,Sector,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,...,effectiveTaxRate,freeCashFlowOperatingCashFlowRatio,freeCashFlowPerShare,cashPerShare,companyEquityMultiplier,ebitPerRevenue,enterpriseValueMultiple,operatingCashFlowPerShare,operatingCashFlowSalesRatio,payablesTurnover
0,A,Whirlpool Corporation,WHR,Egan-Jones Ratings Company,11/27/2015,Consumer Durables,0.945894,0.426395,0.099690,44.203245,...,0.202716,0.437551,6.810673,9.809403,4.008012,0.049351,7.057088,15.565438,0.058638,3.906655
1,BBB,Whirlpool Corporation,WHR,Egan-Jones Ratings Company,2/13/2014,Consumer Durables,1.033559,0.498234,0.203120,38.991156,...,0.074155,0.541997,8.625473,17.402270,3.156783,0.048857,6.460618,15.914250,0.067239,4.002846
2,BBB,Whirlpool Corporation,WHR,Fitch Ratings,3/6/2015,Consumer Durables,0.963703,0.451505,0.122099,50.841385,...,0.214529,0.513185,9.693487,13.103448,4.094575,0.044334,10.491970,18.888889,0.074426,3.483510
3,BBB,Whirlpool Corporation,WHR,Fitch Ratings,6/15/2012,Consumer Durables,1.019851,0.510402,0.176116,41.161738,...,1.816667,-0.147170,-1.015625,14.440104,3.630950,-0.012858,4.080741,6.901042,0.028394,4.581150
4,BBB,Whirlpool Corporation,WHR,Standard & Poor's Ratings Services,10/24/2016,Consumer Durables,0.957844,0.495432,0.141608,47.761126,...,0.166966,0.451372,7.135348,14.257556,4.012780,0.053770,8.293505,15.808147,0.058065,3.857790

## 5.
The ratings are ordered AAA, AA, A, BBB, BB, B, CCC, CC, C, D. Create a new column called *Rating_number* in which each string value in *Rating* column is replaced with the ordinal equivalents 1, 2, 3, ..., 10.

In [17]:
# Change the frame called ratings

rating_map = {
    'AAA': 1, 'AA': 2, 'A': 3, 'BBB': 4, 'BB': 5, 'B': 6, 
    'CCC': 7, 'CC': 8, 'C': 9, 'D': 10
}

ratings['Rating_number'] = ratings['Rating'].map(rating_map)

ratings[["Name", "Rating", "Rating_number"]].head(8)

                    Name Rating  Rating_number
0  Whirlpool Corporation      A              3
1  Whirlpool Corporation    BBB              4
2  Whirlpool Corporation    BBB              4
3  Whirlpool Corporation    BBB              4
4  Whirlpool Corporation    BBB              4
5      Schlumberger N.V.     AA              2
6      Schlumberger N.V.     AA              2
7      Schlumberger N.V.      A              3

In [18]:
# TESTS
assert len(ratings.columns) == 32
assert ratings["Rating_number"].dtype in ["int64", "int"]
assert ratings["Rating_number"].min() == 1
assert ratings["Rating_number"].max() == 10
assert ratings["Rating_number"].sum() == 8841
print("OK")

OK